---
# vars file for roles/user-packages
pip_packages:
  - awscli
  - yubikey-manager
  - neovim
  - tmuxp

  # neovim is built with Python 2.7, but it seems the ensime vim plugin
  # uses the 'pip' command to test for packages, so to avoid an annoying
  # error message (and in anticipation of someday neovim using python 3)
  # install the packages in Python 3.x also
  - sexpdata # for ensime vim
  - websocket-client # also for ensime vim
  - neovim # also for ensime vim

rust_packages:
  - { name: bat, executable: bat }
  - { name: exa, executable: exa }
  - { name: fd-find, executable: fd }
  - { name: ripgrep, executable: rg }

terraform_version: 0.12.23
